#gabarit {
	width:1024px;
	margin:auto;
}

#logo {
	float:left;
	width:200px;
	height:200px;
	background-color:blue;
}

#titre {
	float: right;
	width: 824px;
	height: 175px;	
	background-color:black;
	color:white;
	font-size:72px;
}



#zoneconnexion {
	float:right;
	width: 824px;
	height: 25px;
	background-color:yellow;
	text-align:right;
}

.cleardiv {
	clear:both;
}

#menu {
	width:100%;
	height: 50px;
	float:left;
	background-color:red;
}

.itembar {
	width:25%;
	float:left;
	height:100%;
	text-align:center;	
}

#banniere {
	float:left;
	width:200px;
	height:800px;
	background-color:green;
}

#contenu {
	float:right;
	width:824px;
	height:900px;
	background-color:brown;
}

#pieddepage {
	width:1024px;
	height:100px;
	background-color:gray;
}
#form{
	font-size: 20px;
	text-align: left;
	margin-left: 200px;
}
.formelements {
	margin-right: 200px;
	float: right;
}
.submitbutton {
	height: 30px;
	width: 160px;
	margin-left: 124px;
	margin-right: 200px;
}
.title {
	text-align: center;
	font-size: 42px;

}